<div>
    <h3>Bittrex Summary</h3>
    <div>
        <md-card>
            <table>
                <tr>
                    <th  (click)="onClickHeader('MarketName')">Name</th>
                    <th  (click)="onClickHeader('High')">High</th>
                    <th  (click)="onClickHeader('Low')">Low</th>
                    <th  (click)="onClickHeader('Volume')">Volume</th>
                    <th  (click)="onClickHeader('Last')">Last</th>
                    <th  (click)="onClickHeader('BaseVolume')">Base Volume</th>

                    <th  (click)="onClickHeader('Bid')">Bid</th>
                    <th  (click)="onClickHeader('Ask')">Ask</th>

                    <th  (click)="onClickHeader('OpenBuyOrders')">To Buy</th>
                    <th  (click)="onClickHeader('OpenSellOrders')">To Sell</th>

                    <th  (click)="onClickHeader('PrevDay')">Prev Day</th>
                    <th>Time</th>

                  <!--  <th>Sponsored</th>
                    <th>Created</th>
                    <th>Notice</th>-->
                </tr>
                <tr *ngFor="let market of summaries">
                    <td>{{market.MarketName}}</td>
                    <td>{{market.High}}</td>
                    <td>{{market.Low}}</td>
                    <td>{{market.Volume}}</td>
                    <td>{{market.Last}}</td>
                    <td>{{market.BaseVolume}}</td>

                    <td>{{market.Bid}}</td>
                    <td>{{market.Ask}}</td>

                    <td>{{market.OpenBuyOrders}}</td>
                    <td>{{market.OpenSellOrders}}</td>


                    <td>{{market.PrevDay}}</td>
                    <td>{{market.TimeStamp}}</td>

                  <!--  <td>{{market.IsSponsored}}</td>
                    <td class="my-timestamp"><div>{{market.Created}}</div></td>
                    <td class="notice">{{market.Notice}}</td>-->
                </tr>
            </table>
        </md-card>
        <md-card>
        </md-card>

    </div>

</div>
