<div>
    <md-input-container>
        <input [(ngModel)]="wallet.label"  mdInput placeholder="Wallet Name" name="label">
    </md-input-container>
    <md-input-container>
        <input [(ngModel)]="wallet.privateKey"  mdInput placeholder="Private Key" name="privatekey" (blur)="onPrivateKeyBlur($event)">
    </md-input-container>

    <md-select placeholder="Select Coin" (change)="coinSelectChanged($event)">
        <md-option *ngFor="let coin of coinsAvalable" [value]="coin.symbol">
            <small>({{coin.network}})</small> {{ coin.symbol}} {{ coin.displayName}}
        </md-option>
    </md-select>

    <md-input-container>
        <input [(ngModel)]="wallet.address"  mdInput placeholder="Address" disabled=true name="address">
    </md-input-container>
    <button md-raised-button color="accent" (click)="addWallet($event)">Create</button>

</div>
