<diV>
    {{menu | async}}
    <md-sidenav-container >
        <md-sidenav #sidenav>
            <md-list>
                <a md-list-item routerLink='/email-service/watch-dog'>Bittrex</a>
                <a md-list-item routerLink='/bittrex'>Bittrex</a>
                <a md-list-item routerLink='/shapeshift'>ShapeShift</a>
                <a md-list-item routerLink='/changelly'>Changelly</a>
                <a md-list-item routerLink='/ss-main'>Shapeshift Selected</a>
                <hr/>
                <div>

                    <a md-list-item routerLink='/exchange-ss'>Exchange SS</a>
                    <a md-list-item routerLink='/my-wallets'>My Wallets</a>
                    <hr/>
                </div>


                <a md-list-item [routerLink]="['/login/sign-in']">Login</a>
                <a md-list-item [routerLink]="['/login/forgot-password']">Forgot Password</a>
                <a md-list-item [routerLink]="['/login/register']">Register</a>
                <a md-list-item [routerLink]="['/login/logout']">Logout</a>

            </md-list>

        </md-sidenav>

        <div>
            <div (click)="sidenav.open()" class="fa fa-bars">  </div>
        </div>
        <div id="MainOutlet">
            <router-outlet></router-outlet>
        </div>

    </md-sidenav-container>
</diV>