<diV>
    {{menu | async}}
    <md-sidenav-container >
        <md-sidenav #sidenav>
            <md-list>
                <a md-list-item routerLink='/ss-main'>Browse Market</a>
                <a md-list-item routerLink='/exchange-ss'>Exchange SS</a>
                <a md-list-item routerLink='/my-wallets'>My Wallets</a>
                <a md-list-item routerLink='/set-password'>Set password</a>

            </md-list>

        </md-sidenav>

        <div>
            <div (click)="sidenav.open()" class="fa fa-bars">  </div>
        </div>
        <router-outlet></router-outlet>
    </md-sidenav-container>
</diV>