
#LoginScreen{
    width: 250px;
    height: 300px;
    margin: auto;
    margin-top: 165px;
}

#LoginScreen form{
    height: 300px;
    margin-top: 1em;
}

md-chip-list{
    position: relative;
}

md-chip{
    position: absolute;
    top: 0;
    left: 0px;
    width: 150px;
}