<div>
    <button md-raised-button color="primary" (click)="addWallet($event)"><div class="fa fa-plus"></div></button>
    <button md-raised-button color="warn" (click)="editWallet($event)"  ><div class="fa fa-edit"></div></button>
    <button md-raised-button color="accent" (click)="deleteWallet($event)"><div class="fa fa-minus"></div></button>
    <app-wallet-create *ngIf="isCreate"></app-wallet-create>
    <div>
        <hr/>


        <md-list>

            <md-list-item *ngFor="let wallet of myWallets" (click)="onWalletSelected(wallet)"  [class.selected] = wallet.selected >
                <app-wallet  [wallet]="wallet">  </app-wallet>

            </md-list-item>

        </md-list>


        <hr/>
    </div>
</div>
