<div class="content">
    <section *ngIf="currentDog">


<div style=" display: flex; flex-direction: row" >
    <div id="ScriptContentContainer">

            <span>{{currentDog.uid}}</span>

        <small>{{currentDog.label}}</small>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;


        <md-select  [(ngModel)]="currentTrigger" id="SelectTrigger" #selectedTrigger placeholder="Select Variable" >
            <md-option [value]="'send_notification'"> <span class="fa fa-flash"></span> Send Notification</md-option>
            <md-option *ngFor="let myvar of variablesAvailable" [value]="myvar.index">{{myvar.label}}</md-option>
        </md-select>
        <span class="fa fa-arrow-left"> </span>
        <button md-raised-button color="primary" (click)="insertTrigget(selectedTrigger)">
            <span class="fa fa-paste"></span>
            Insert
        </button>
        <button color="accent" md-raised-button  (click)="runScript()" title="Run Script">
            <span class="fa fa-flash"></span>
            Run
        </button>
        <button md-raised-button color="primary" (click)="saveDog($event)">
            <span class="fa fa-save"></span>
            Save
        </button>



        <div id="ScriptContent"
             #scriptContent
             contenteditable="true"
             spellcheck="false"
             (blur)="onScriptContentBlur(scriptContent)"
             (change)="onScriptContentChange(scriptContent)">
        </div>
    </div>

    <div class="current-changes">
        <h3>Current Values</h3>
        <table>
            <tbody>
            <tr *ngFor="let myvar of variablesAvailable">
                <td>{{myvar.index}}</td>
                <td>
                    <input style="width: 3em" type="text" [(ngModel)]="myvar.value"  name="value" />

                </td>
            </tr>
            </tbody>
        </table>
    </div>

</div>




           <!-- <button md-raised-button color="accent"  (click)="testScript(scriptContent)"><span class="fa fa-play"></span> Test</button>
            <button md-raised-button  (click)="viewSorse($event)"><span class="fa fa-eye"></span> Source</button>
-->



                <!--
                  let prev_usd_percent_change_1h:number, prev_usd_percent_change_24h:number, prev_usd_percent_change_7d:number,
    usd_percent_change_1h:number, usd_percent_change_24h:number, usd_percent_change_7d:number;
                -->








    </section>

    <section>
        <h4> Watch Dogs </h4>
        <small>Total {{watchDogs.length}}</small>
        <button color="accent" md-raised-button  (click)="startRefreshTimer()" title="{{start_stop}}">
            <span *ngIf="!isRunning" class="fa fa-play"></span>
            <md-spinner *ngIf="isRunning" mode="determinate" value="+{{seconds}}"></md-spinner>
            <span *ngIf="isRunning" class="fa fa-pause"></span>
        </button>

        <table>
            <tr>
                <th><button md-button >Setup</button></th>
                <th><button md-button (click)="onClickHeader('uid')">ID</button></th>
                <th><button md-button (click)="onClickHeader('label')">Name</button></th>
               <!-- <th><button md-button (click)="onClickHeader('symbol')">Symbol</button></th>-->
                <th><button md-button (click)="onClickHeader('percent_change_1h')" >1h%</button></th>
                <th><button md-button (click)="onClickHeader('percent_change_24h')">24h%</button></th>
                <th><button md-button (click)="onClickHeader('percent_change_7d')" > 7days%</button></th>
                <th><button md-button (click)="onClickHeader('price_usd')" >$US</button></th>
                <th><button md-button (click)="onClickHeader('rank')" >Rank</button></th>
            </tr>

            <tbody *ngFor="let dog of watchDogs">

            <tr>
                <td><div class="fa fa-edit" (click)="onEditDog(dog)"></div></td>
                <td><small>{{dog.uid}}</small></td>
                <td>{{dog.label}}</td>
                <!--<td><b><small>{{dog.symbol}}</small></b></td>-->
                <td>{{dog.percent_change_1h}}</td>
                <td>{{dog.percent_change_24h}}</td>
                <td>{{dog.percent_change_7d}}</td>
                <td>{{dog.price_usd}}</td>
                <td>{{dog.rank}}</td>
            </tr>

            </tbody>
        </table>

    </section>



</div>
