<div>
    <md-card>
        <md-card-title>
            Login
        </md-card-title>
        <md-input-container>
            <input [(ngModel)] ="email"  mdInput placeholder="Email" type="email" name="email" >
        </md-input-container>
        <md-input-container>
            <input [(ngModel)] ="mypassword"  mdInput placeholder="Password" type="password" name="mypassword" >
        </md-input-container>

                <button  md-raised-button color="accent"  (click)="login($event)">Login</button>

    </md-card>


</div>
